@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1 class="display-4">SofPets - Menú</h1>
    <p class="lead">--</p>
    <hr class="my-4" />
    <div>
        <a class="btn btn-primary btn-lg" href="@Url.Action("Index","Roles")">Roles</a>        
    </div>
</div>
